In [15]:
import pandas as pd

data = pd.read_csv("/kaggle/input/cars-evaluation-dt/car_evaluation.csv")
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [16]:
data.columns = ["buying price", "maintenance cost", "number of doors", "number of persons", "lug_boot", "safety", "decision"]
data.head()

,buying price,maintenance cost,number of doors,number of persons,lug_boot,safety,decision
0,vhigh,vhigh,2,2,small,med,unacc
1,vhigh,vhigh,2,2,small,high,unacc
2,vhigh,vhigh,2,2,med,low,unacc
3,vhigh,vhigh,2,2,med,med,unacc
4,vhigh,vhigh,2,2,med,high,unacc

In [17]:
data.isnull().sum()

buying price         0
maintenance cost     0
number of doors      0
number of persons    0
lug_boot             0
safety               0
decision             0
dtype: int64

In [18]:
train = data.drop(['decision'], axis=1)
test = data['decision']

In [19]:
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(train, test, test_size=0.2, random_state=42)
train_x.head()

,buying price,maintenance cost,number of doors,number of persons,lug_boot,safety
107,vhigh,high,2,2,small,low
900,med,vhigh,3,4,small,med
1708,low,low,5more,2,big,high
705,high,med,4,2,med,med
678,high,med,3,2,med,med

In [20]:
from category_encoders import OrdinalEncoder

encoder = OrdinalEncoder(cols=["buying price", "maintenance cost", "number of doors", "number of persons", "lug_boot", "safety"])
train_x = encoder.fit_transform(train_x)
test_x = encoder.transform(test_x)

train_x

,buying price,maintenance cost,number of doors,number of persons,lug_boot,safety
107,1,1,1,1,1,1
900,2,2,2,2,1,2
1708,3,3,3,1,2,3
705,4,4,4,1,3,2
678,4,4,2,1,3,2
...,...,...,...,...,...,...
1130,2,4,2,3,2,1
1294,2,3,3,3,2,3
860,4,3,3,3,2,1
1459,3,1,4,1,1,3
1126,2,4,2,3,1,3

In [21]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=6, random_state=42)
model.fit(train_x, train_y)
pred_y = model.predict(test_x)
pred_y

array(['unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc',
       'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'acc', 'unacc', 'acc', 'vgood',
       'acc', 'acc', 'unacc', 'unacc', 'vgood', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'vgood', 'unacc',
       'acc', 'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'acc', 'acc', 'unacc', 'vgood', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'vgood', 'acc', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'acc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'acc', 'unacc', 'acc', 'acc', 'acc', 'unacc',
       'unacc', 'acc', 'unacc', 'vgood', 'vgood', 'unacc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc',
       'vgood', 'unacc', 'vgood', 'acc', 'acc', 'unacc', 'vgood', 'acc',
       'unacc', 'vgood', 'unacc', 'acc', 'acc', 'vgood', 'unacc', 'acc',
       'unacc', 'acc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'vgood',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'vgood', 'acc', 'unacc', 'unacc', 'acc', 'vgood',
       'acc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'acc', 'acc', 'unacc', 'acc', 'unacc', 'acc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc',
       'acc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'vgood', 'acc',
       'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'vgood', 'acc', 'acc', 'acc', 'unacc', 'unacc',
       'unacc', 'acc', 'unacc', 'acc', 'vgood', 'acc', 'unacc', 'vgood',
       'vgood', 'unacc', 'vgood', 'unacc', 'unacc', 'unacc', 'acc',
       'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc',
       'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'acc',
       'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'vgood', 'acc', 'unacc', 'unacc', 'unacc', 'unacc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'acc',
       'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc'], dtype=object)

In [22]:
from sklearn.metrics import accuracy_score

for d in range(1, 11):
    model = DecisionTreeClassifier(max_depth=d, random_state=42)
    model.fit(train_x, train_y)
    pred_y = model.predict(test_x)

    print("Accuracy for", d, "depth", accuracy_score(test_y, pred_y))

Accuracy for 1 depth 0.684971098265896
Accuracy for 2 depth 0.7803468208092486
Accuracy for 3 depth 0.7687861271676301
Accuracy for 4 depth 0.8352601156069365
Accuracy for 5 depth 0.8583815028901735
Accuracy for 6 depth 0.8930635838150289
Accuracy for 7 depth 0.9277456647398844
Accuracy for 8 depth 0.9248554913294798
Accuracy for 9 depth 0.9566473988439307
Accuracy for 10 depth 0.9566473988439307